name: carecompanion_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^2.24.0
  cloud_firestore: ^4.9.0
  flutter_tts: ^3.7.1
  speech_to_text: 7.3.0
  workmanager: ^0.5.0
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true


  assets:
    - assets\data\dummy_data.json
